{% extends 'main/base.html' %}

{% block title %}
Закажите сайт
{% endblock %}

{% block content %}
    <br><br>
    {% if user.is_authenticated %}
        {% if submitted %}
            Форма отправлена успешно!
        {% else %}
            <h1>Создайте заказ</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                {{ form.user.as_hidden }}
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        {% endif %}
    {% else %}
        Чтобы создать заявку, вам необходимо войти.
<a href="{% url 'login' %}">Войти</a>
    {% endif %}
{% endblock %}
